---
import { Post } from '../lib/interfaces.ts'

export interface Props {
  post: Post
}

// 添加错误处理和默认值
const { post } = Astro.props
const excerpt = post?.Excerpt ?? '暂无摘要'  // 在这里添加默认值
---

<div class="post-excerpt">
  <p>{post.Excerpt ? post.Excerpt : ''}</p>
</div>

<style>
  .post-excerpt {
    padding: 0;
    font-size: 0.8rem;
  }

  .post-excerpt p {
    margin: 0;
  }
</style>
