name: Deploy

on:
  schedule:
    - cron: '00 23 * * 1,3,5'  # UTC 每周一、三、五 23:00 → 北京时间每周二、四、六 7:00
  workflow_dispatch:

jobs:
  curl:
    name: Kick deploy hook
    runs-on: ubuntu-latest
    steps:
      - name: curl
        run: |
          curl -X POST \
          -H "Content-Type: application/json" \
          -d '{}' \
          '${{ secrets.DEPLOY_HOOK_URL }}'
